.heading{
    background-color: black;
    text-align: center;
    color: white;

}
.shop{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.card-img-top{
    border: 5px;
    align-items: baseline;
    
}
.card-title{
    align-items: baseline;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    
}
h3{
    color: rgb(250, 145, 145);
}
.d-block{
    
    margin-left: 20px;
}
.container{
    margin: 20px;
}